<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResumeAi - Resumen automático de páginas web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h1 class="my-5">ResumeAi</h1>
          <h2 class="mb-4">Resumen automático de páginas web</h2>
          <div class="subtext-box p-3 mb-4">Introduce la URL de una página web y ResumeAi te genera un resumen al instante!!</div>
          <form action="/resumen" method="POST" class="mt-4">
            <div class="form-group">
              <label for="url">Ingresa la URL de la página web:</label>
              <input type="text" id="url" name="url" placeholder="https://" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Resumir</button>
          </form>
          {% if error %}
            <p style="color: red;" class="mt-2">{{ error }}</p>
          {% endif %}
          {% if resumen_generado %}
            <h2 class="resumen-title mt-4">Resumen:</h2>
            <div class="resumen-box p-3 mt-2">{{ resumen }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <footer>
      Hecho con <span class="emoji">&#x2764;&#xFE0F;</span> por <a href="https://twitter.com/EnricRM12" target="_blank">@EnricRM12</a> y mi inestimable asistente <a href="https://openai.com/" target="_blank">ChatGPT-4</a> <span class="emoji">&#x1F916;</span>
    </footer>
  </body>
</html>
